extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='registration_number') Registration number:
      input#registration_number.form-control(type='text', name='registration_number' required='true' value=(undefined===vehicle ? '' : vehicle.registration_number) )
    div.form-group
      label(for='vehicle_type') Vehicle type: 
      select#vehicle_type.form-control(name='vehicle_type' required='true' )
        for vehicle_type in vehicle_types 
          option(value=vehicle_type selected=(vehicle_type==vehicle.vehicle_type)) #{vehicle_type}
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
